header {
    border-bottom: 5px solid tan;
}

ul {
    display: block;
    text-align: right;
    background-color: darkgreen;
}

li {
    color: white;
    margin: 0 20px auto;
    display: inline;  
}

.container {
    background-color: beige;
    display: block;
}

h1 {
    text-align: center;
}